
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}


#clockdiv > div{
	padding: 10px;
    border-radius: 3px;
    height: 80px;

}

div#one {
    padding: 10px;
	border-radius: 3px;
	background: #00816A;
    display: inline-block;
    margin: 3%;
}
div#two {
    padding: 10px;
	border-radius: 3px;
	background: #00816A;
    display: inline-block;
    margin: 3%;
}

div#three {
    padding: 10px;
	border-radius: 3px;
    background: #00816A;
    display: inline-block;
    margin: 3%;
}


.smalltext{
	padding-top: 5px;
    font-size: 16px;
    color: white;
}
span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
    display: inline-block;
    color: white;
}